*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.waitlist {
    background-color: #0A1A2A;
    padding: 240px 0px 88px ;
}

.waitlist-text {
    width: 70%;
    margin:auto;
}
.waitlist-text h2{
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    color: #7DF7FF;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 16px;
}

.waitlist-text h1{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 16px;
}

.waitlist-text p {
    text-align: center;
    color: #ffffffcc;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 28px;
    line-height: 150%;
    padding-bottom: 16px;
}

.form-field {
    background-color: #ffffff;
    border-radius: 80px;
    margin: 120px;
    padding: 132px 270px;
    
}

.form-field h2 {
    color: #333333;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 32px;
    margin-bottom: 32px;
}

label {
color: #333333;
font-size: 16px;
font-weight: 600;
margin-bottom: 12px;
display: block;
}

input {
    border: 1px solid #D9DCE1;
    border-radius: 4px;
    padding: 14px 12px 14px 16px;
    font-size: 16px;
    color: #333333;
    margin-bottom: 32px;
    width: 100%;
    outline: none;
}

.dropdown {
    border: 1px solid #D9DCE1;
    border-radius: 4px;
    padding: 14px 16px;
    font-size: 16px;
    color: #333333;
    margin-bottom: 32px;
    width: 100%;
    outline: none;
}

.dropdown-lists {
    border: none;
    font-size: 16px;
    color: #333333;
    width: 100%;
    outline: none;
    background: none;
}

.selected {
    color: #787676;
}

.submit {
    color: #ffffff;
    background-color: #005F70;
    border: none;
    border-radius: 8px;
    width: 277px;
    height: 56px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.submit-button {
    text-align: center;
}

/* Responsiveness */
@media screen and (max-width: 600px){
    .waitlist {
        padding: 200px 0px 0px ;
    }
    .waitlist-text {
        width: 90%;
        margin: 0px 16px;
    }
    .waitlist-text h2{
        font-size: 18px;
    }
    .waitlist-text h1{
        font-size: 32px;
    }

    .waitlist-text p {
        font-size: 16px;
    }

    .form-field h2 {
        font-size: 24px;
    }

    .form-field {
        border-radius: 0px;
        margin: 64px 0px 0px;
        padding: 24px 16px; 
    }

    .submit {
        width: 100%;
        margin-bottom: 0px;
    }
}